# WEEK 1 CHALLENGE SOLUTION - OBENG JOHNSON BOATENG

In [1]:
import sys
import os
import json
import pandas as pd
import matplotlib.pyplot as plt
import re
import string

import matplotlib.dates as mdates
import seaborn as sns
sns.set()


# to view all columns
pd.set_option("display.max.columns", None)

In [2]:
#Import the necessary methods from tweepy library  

#install tweepy if you don't have it
#!pip install tweepy
import tweepy
from tweepy.streaming import StreamListener
from tweepy import OAuthHandler
from tweepy import Stream
from tweepy import API

#sentiment analysis package
#!pip install textblob
from textblob import TextBlob

#general text pre-processor
#!pip install nltk
import nltk
from nltk.corpus import stopwords
nltk.download('punkt')

#tweet pre-processor 
#!pip install tweet-preprocessor
import preprocessor as p

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\JohnnnySimple\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [3]:
def print_full(x):
  '''
  This is to print nicely DataFrame wide tables
  '''
  pd.set_option('display.max_rows', len(x))
  pd.set_option('display.max_columns', None)
  pd.set_option('display.width', 2000)
  pd.set_option('display.float_format', '{:20,.2f}'.format)
  pd.set_option('display.max_colwidth', -1)
  print(x)
  pd.reset_option('display.max_rows')
  pd.reset_option('display.max_columns')
  pd.reset_option('display.width')
  pd.reset_option('display.float_format')
  pd.reset_option('display.max_colwidth')

In [4]:
class tweetsearch():
    '''
    This is a basic class to search and download twitter data.
    You can build up on it to extend the functionalities for more 
    sophisticated analysis
    '''
    def __init__(self, cols=None,auth=None):
        #
        if not cols is None:
            self.cols = cols
        else:
            self.cols = ['id', 'created_at', 'source', 'original_text','clean_text', 
                    'sentiment','polarity','subjectivity', 'lang',
                    'favorite_count', 'retweet_count', 'original_author',   
                    'possibly_sensitive', 'hashtags',
                    'user_mentions', 'place', 'place_coord_boundaries']
            
        if auth is None:
            
            #Variables that contains the user credentials to access Twitter API 
            consumer_key = os.environ.get('TWITTER_API_KEY')
            consumer_secret = os.environ.get('TWITTER_API_SECRET')
            access_token = os.environ.get('TWITTER_ACCESS_TOKEN')
            access_token_secret = os.environ.get('TWITTER_ACCESS_TOKEN_SECRET')
            


            #This handles Twitter authetification and the connection to Twitter Streaming API
            auth = OAuthHandler('Nta6qWNGconAoHRn4U1VyY8Zh', '9SELnRzdhM9NHpw1GQGgMOQN8BzX6XLZ0kLVrdkfQuDE2HXekz')
            auth.set_access_token('1064907352963522561-BqgWr6Bo4pRX69MF5Bl6NmKP4sRd4i', 'GaOuAJOAMp8qaEomWV9byCeGMbd61wVimcgWKM2YjXjvN')
            

        #            
        self.auth = auth
        self.api = tweepy.API(auth,wait_on_rate_limit=True) 
        self.filtered_tweet = ''
        
            

    def clean_tweets(self, twitter_text):

        #use pre processor
        tweet = p.clean(twitter_text)

         #HappyEmoticons
        emoticons_happy = set([
            ':-)', ':)', ';)', ':o)', ':]', ':3', ':c)', ':>', '=]', '8)', '=)', ':}',
            ':^)', ':-D', ':D', '8-D', '8D', 'x-D', 'xD', 'X-D', 'XD', '=-D', '=D',
            '=-3', '=3', ':-))', ":'-)", ":')", ':*', ':^*', '>:P', ':-P', ':P', 'X-P',
            'x-p', 'xp', 'XP', ':-p', ':p', '=p', ':-b', ':b', '>:)', '>;)', '>:-)',
            '<3'
            ])

        # Sad Emoticons
        emoticons_sad = set([
            ':L', ':-/', '>:/', ':S', '>:[', ':@', ':-(', ':[', ':-||', '=L', ':<',
            ':-[', ':-<', '=\\', '=/', '>:(', ':(', '>.<', ":'-(", ":'(", ':\\', ':-c',
            ':c', ':{', '>:\\', ';('
            ])

        #Emoji patterns
        emoji_pattern = re.compile("["
                 u"\U0001F600-\U0001F64F"  # emoticons
                 u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                 u"\U0001F680-\U0001F6FF"  # transport & map symbols
                 u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                 u"\U00002702-\U000027B0"
                 u"\U000024C2-\U0001F251"
                 "]+", flags=re.UNICODE)

        #combine sad and happy emoticons
        emoticons = emoticons_happy.union(emoticons_sad)

        stop_words = set(stopwords.words('english'))
        word_tokens = nltk.word_tokenize(tweet)
        #after tweepy preprocessing the colon symbol left remain after      
        #removing mentions
        tweet = re.sub(r':', '', tweet)
        tweet = re.sub(r'‚Ä¶', '', tweet)

        #replace consecutive non-ASCII characters with a space
        tweet = re.sub(r'[^\x00-\x7F]+',' ', tweet)

        #remove emojis from tweet
        tweet = emoji_pattern.sub(r'', tweet)

        #filter using NLTK library append it to a string
        filtered_tweet = [w for w in word_tokens if not w in stop_words]

        #looping through conditions
        filtered_tweet = []    
        for w in word_tokens:
        #check tokens against stop words , emoticons and punctuations
            if w not in stop_words and w not in emoticons and w not in string.punctuation:
                filtered_tweet.append(w)

        return ' '.join(filtered_tweet)            

    def get_users_data(self, lst):
        cols = ["name", "screen_name", "created_at", "followers_count", "friends_count", "statuses_count"]
        data_df = pd.DataFrame(columns=cols)
        if len(lst) > 0:
            for target in lst:
#                 print("Getting data for " + target)
                item = self.api.get_user(target)
                data_df.loc[len(data_df)] = [item.name, item.screen_name, item.created_at, item.followers_count,
                                            item.friends_count, item.statuses_count]
#                 print("name: " + item.name)
#                 print("screen_name: " + item.screen_name)
#                 print("description: " + item.description)
#                 print("statuses_count: " + str(item.statuses_count))
#                 print("friends_count: " + str(item.friends_count))
#                 print("followers_count: " + str(item.followers_count))
#                 print("created_at: " + str(item.created_at))
#                 print("favourites_count:" + str(item.favourites_count))
                
        return data_df
    
    
    def retweet_data(self, username):
        print(self.api.retweets_of_me(username))
        
        
    def get_user_tweets(self, username):
        #100 tweets to be extracted
        number_of_tweets = 100
        tweets = self.api.user_timeline(screen_name=username)
        
        tmp = []
        
        # create array of tweet information: username,  
        # tweet id, date/time, text 
        tweets_for_csv = [tweet.text for tweet in tweets] # CSV file created  
        for j in tweets_for_csv: 
  
            # Appending tweets to the empty array tmp 
            tmp.append(j)  
  
        # Printing the tweets 
        print(tmp)
        return tmp
    
    def get_all_users_tweets(self, lst):
        cols = ['id', 'screen_name', 'created_at', 'tweet_id', 'original_text', 
                    'retweet_count', 'hashtags', 'user_mentions', 'likes'] 
        df_data = pd.DataFrame(columns=cols)
        for i in lst:
            counter = 0
            for status in tweepy.Cursor(self.api.user_timeline, screen_name=i, tweet_mode='extended').items(100):
                counter =  counter + 1
                    
                df_data.loc[len(df_data)] = [status.user.id, status.user.screen_name, status.created_at, status.id,
                                             status.full_text, status.retweet_count, status.entities['hashtags'],
                                             status.entities['user_mentions'], status.favorite_count]
                                            
#                 print(f"{counter}\t{status.user.id}\t{status.user.screen_name}\t{status.created_at}\t{status.full_text}\
#                 \t{status.entities['hashtags']}\t{status.retweet_count}\t{status.entities['user_mentions']}")
                
        
        return df_data
    
    def get_replies(self, names, ids):
        replies_list = []
        for name, tweet_id in zip(names, ids):
            replies_count = 0
            for tweet in tweepy.Cursor(self.api.search, q='to:'+name, result_type='recent', timeout=999999).items(1000):
                if hasattr(tweet, 'in_reply_to_status_id_str'):
                    if (tweet.in_reply_to_status_id_str==tweet_id):
                        replies_count = replies_count + 1
            replies_list.append(replies_count)
        
#         for i in range(len(top)):
#             replies_count = 0
#             for tweet in tweepy.Cursor(self.api.search, q='to:'+top['screen_name'].loc[i], timeout=999999).items(10):
#                 if hasattr(tweet, 'in_reply_to_status_id_str'):
#                     if(tweet.in_reply_to_status_id_str == top['tweet_id'].loc[i]):
#                         replies_count = replies_count + 1
#             replies_list.append(replies_count)
        return replies_list
        
        
    def get_active_users(self, lst):
        
        new_lst = []
        for handle in lst:
            try:
                u = self.api.get_user(handle)
                new_lst.append(u.screen_name)
            except Exception:
                pass
        return new_lst
    
    
    def get_likes(self, username):
        favorites = self.api.favorites(username)
        for status in favorites:
            print(status._json['favorite_count'])
    
    
#     def get_comments(self, lst):
            
    
    
    def get_tweets(self, keyword, csvfile=None):
        
        
        df = pd.DataFrame(columns=self.cols)
        
        if not csvfile is None:
            #If the file exists, then read the existing data from the CSV file.
            if os.path.exists(csvfile):
                df = pd.read_csv(csvfile, header=0)
            

        #page attribute in tweepy.cursor and iteration
        for page in tweepy.Cursor(self.api.search, q=keyword,count=100, include_rts=False,tweet_mode='extended').pages(10):

            # the you receive from the Twitter API is in a JSON format and has quite an amount of information attached
            for status in page:
                
                new_entry = []
                status = status._json
                
                #filter by language
                #if status['lang'] != 'en':
                #    continue

                
                #if this tweet is a retweet update retweet count
                if status['created_at'] in df['created_at'].values:
                    i = df.loc[df['created_at'] == status['created_at']].index[0]
                    #
                    cond1 = status['favorite_count'] != df.at[i, 'favorite_count']
                    cond2 = status['retweet_count'] != df.at[i, 'retweet_count']
                    if cond1 or cond2:
                        df.at[i, 'favorite_count'] = status['favorite_count']
                        df.at[i, 'retweet_count'] = status['retweet_count']
                    continue

                #calculate sentiment
                filtered_tweet = self.clean_tweets(status['full_text'])
                blob = TextBlob(filtered_tweet)
                Sentiment = blob.sentiment     
                polarity = Sentiment.polarity
                subjectivity = Sentiment.subjectivity

                new_entry += [status['id'], status['created_at'],
                              status['source'], status['full_text'], filtered_tweet, 
                              Sentiment,polarity,subjectivity, status['lang'],
                              status['favorite_count'], status['retweet_count']]

                new_entry.append(status['user']['screen_name'])

                try:
                    is_sensitive = status['possibly_sensitive']
                except KeyError:
                    is_sensitive = None

                new_entry.append(is_sensitive)

                hashtags = ", ".join([hashtag_item['text'] for hashtag_item in status['entities']['hashtags']])
                new_entry.append(hashtags) #append the hashtags

                #
                mentions = ", ".join([mention['screen_name'] for mention in status['entities']['user_mentions']])
                new_entry.append(mentions) #append the user mentions

                try:
                    xyz = status['place']['bounding_box']['coordinates']
                    coordinates = [coord for loc in xyz for coord in loc]
                except TypeError:
                    coordinates = None
                #
                new_entry.append(coordinates)

                try:
                    location = status['user']['location']
                except TypeError:
                    location = ''
                #
                new_entry.append(location)

                #now append a row to the dataframe
                single_tweet_df = pd.DataFrame([new_entry], columns=self.cols)
                df = df.append(single_tweet_df, ignore_index=True)

        #
        df['timestamp'] = df.created_at.map(pd.Timestamp)
        df = df.sort_values('timestamp').set_index('timestamp')
        df = df.drop('id',axis=1)
        
        if not csvfile is None:
            #save it to file
            df.to_csv(csvfile, columns=self.cols, index=True, encoding="utf-8")
            

        return df

In [5]:
influ_data = pd.read_csv("AfricaInflu.csv")
topGov_data = pd.read_csv("top18Gov.csv")
influ_data_list = influ_data["Handle"].tolist()
topGov_data_list = topGov_data['Handle'].tolist()

In [6]:
# creating instance for tweetsearch class
ts = tweetsearch()

In [104]:
# me = ts.get_all_users_tweets(['@NAkufoAddo'])
# me

In [7]:
# getting active users from lists
influ_data_list = ts.get_active_users(influ_data_list)
topGov_data_list = ts.get_active_users(topGov_data_list)

In [105]:
# mb = ts.get_likes('@NAkufoAddo')

In [8]:
influencers_meta_data = ts.get_users_data(influ_data_list)
influencers_meta_data

,name,screen_name,created_at,followers_count,friends_count,statuses_count
0,Jeffrey Gettleman,gettleman,2011-05-25 17:49:42,25702,37,3771
1,A24 Media,a24media,2009-03-25 11:29:33,31286,3059,16869
2,Scapegoat,AndiMakinana,2009-09-06 10:53:07,101286,2838,142228
3,Africa Check,AfricaCheck,2012-07-03 11:34:29,68060,4592,27324
4,James Copnall,JamesCopnall,2011-10-30 17:32:39,21962,5050,19439
...,...,...,...,...,...,...
87,Julius Sello Malema,Julius_S_Malema,2010-02-24 14:58:49,3129025,652,37213
88,News24,News24,2008-05-08 07:45:58,3577431,631,322867
89,jdwtweet,SAPresident,2019-03-04 09:59:11,18,14,19
90,Gareth Cliff,GarethCliff,2008-12-08 13:20:23,1974525,356,31626
91,Trevor Noah,Trevornoah,2009-06-11 07:03:48,10807630,325,11186

In [9]:
topGov_meta_data = ts.get_users_data(topGov_data_list)
topGov_meta_data

,name,screen_name,created_at,followers_count,friends_count,statuses_count
0,Paul Kagame,PaulKagame,2009-05-04 05:16:24,1983998,181,2862
1,Abdelfattah Elsisi,AlsisiOfficial,2014-03-30 15:50:56,4107406,0,2750
2,Muhammadu Buhari,MBuhari,2014-12-22 08:56:35,3271837,26,4734
3,Yoweri K Museveni,KagutaMuseveni,2010-03-27 15:08:09,1813244,28,6644
4,jdwtweet,SAPresident,2019-03-04 09:59:11,18,14,19
5,Nana Akufo-Addo,NAkufoAddo,2011-02-04 10:14:22,1508004,352,7097
6,Dr John Magufuli,MagufuliJP,2015-07-16 04:46:06,868482,8,225
7,ADO-AGRO SOLUTIONS,AdoSolutions,2018-05-16 16:39:20,15,0,0
8,Macky Sall,Macky_Sall,2010-10-01 17:05:26,1375451,171,2796
9,President Paul BIYA,PR_Paul_BIYA,2011-05-18 19:09:10,675481,187,5389
10,Ali Bongo Ondimba,PresidentABO,2015-02-08 18:11:21,173547,4,1738
11,Pierre Nkurunziza,pnkurunziza,2012-01-29 20:55:14,173347,15,470
12,Roch KABORE,rochkaborepf,2015-07-01 15:42:09,256260,151,4496
13,Beji Caid Essebsi,BejiCEOfficial,2014-09-09 07:44:06,29432,15,2411
14,Alpha Condé,Prof_AlphaConde,2012-09-25 15:41:07,62841,1,5158
15,Faure E. Gnassingbe,FEGnassingbe,2014-10-02 07:57:05,114693,82,1585
16,Issoufou Mahamadou,IssoufouMhm,2016-01-17 16:40:36,116264,17,349

In [10]:
top = ts.get_all_users_tweets(topGov_data_list)
top

,id,screen_name,created_at,tweet_id,original_text,retweet_count,hashtags,user_mentions,likes
0,37601149,PaulKagame,2020-07-18 15:01:16,1284503509765885954,"John Lewis actions inspired many, in the US &a...",718,"[{'text': 'goodtrouble', 'indices': [231, 243]}]",[],3175
1,37601149,PaulKagame,2020-07-04 16:09:01,1279447128423698432,Tested as we've been by the oddest of the odds...,998,[],[],3283
2,37601149,PaulKagame,2020-07-04 15:51:17,1279442668431474688,I hope &amp; have been promising myself that w...,1086,[],[],5102
3,37601149,PaulKagame,2020-07-04 15:31:34,1279437704246239238,The struggle and History of all this is by far...,880,[],[],3053
4,37601149,PaulKagame,2020-07-04 15:20:42,1279434972840017920,"Every year of the last 26,this day 4 July, man...",1207,[],[],4771
...,...,...,...,...,...,...,...,...,...
1514,4821435801,IssoufouMhm,2019-08-11 08:34:59,1160469647956819968,Bonne fête à toute la Oummah Islamique. -IM\n ...,71,"[{'text': 'AidMubarak', 'indices': [45, 56]}, ...",[],549
1515,4821435801,IssoufouMhm,2019-08-03 07:50:46,1157559417002438656,Bonne fête de l’Indépendance. Que Dieu bénisse...,107,"[{'text': 'Niger', 'indices': [50, 56]}]",[],751
1516,4821435801,IssoufouMhm,2019-07-25 16:25:22,1154427431819849728,C’est avec une profonde tristesse que j’ai app...,56,[],[],396
1517,4821435801,IssoufouMhm,2019-07-08 00:59:47,1148033906463170565,Cette entrée en vigueur de la #Zlecaf est la p...,67,"[{'text': 'Zlecaf', 'indices': [30, 37]}, {'te...",[],421
1518,4821435801,IssoufouMhm,2019-07-08 00:55:40,1148032872021970944,"En regardant la carte de l'Afrique, on a le tr...",120,"[{'text': 'ZLECAf', 'indices': [239, 246]}, {'...",[],567

In [11]:
# print(top['tweet_id'].loc[1], top['screen_name'].loc[1])
# getting number of replies for each tweet
# updata = ts.get_replies(top)
# update

In [94]:
dt = top.groupby('screen_name')

In [12]:
dt = top.groupby('screen_name')
def get_retweet_count(lst):
    
    new_names = []
    retweet_total = []
    likes_count = []
    for name in lst:
        try:
            retweet_total.append(sum(dt.get_group(name)['retweet_count']))
            new_names.append(name)
            likes_count.append(sum(dt.get_group(name)['likes']))
        except Exception:
            pass
        
    return retweet_total, new_names, likes_count

gov_retweets_sum, gov_new_list, gov_likes_sum = get_retweet_count(topGov_data_list)
# gov_new_list
# dt.get_group('AdoSolutions')

gov_meta_data = ts.get_users_data(gov_new_list)
gov_meta_data['retweets_count'] = gov_retweets_sum
gov_meta_data['total_likes'] = gov_likes_sum
gov_meta_data

,name,screen_name,created_at,followers_count,friends_count,statuses_count,retweets_count,total_likes
0,Paul Kagame,PaulKagame,2009-05-04 05:16:24,1984011,181,2862,71336,318477
1,Abdelfattah Elsisi,AlsisiOfficial,2014-03-30 15:50:56,4107367,0,2750,175547,1856386
2,Muhammadu Buhari,MBuhari,2014-12-22 08:56:35,3271853,26,4734,23014,91139
3,Yoweri K Museveni,KagutaMuseveni,2010-03-27 15:08:09,1813259,28,6644,24144,162682
4,jdwtweet,SAPresident,2019-03-04 09:59:11,18,14,19,851,0
5,Nana Akufo-Addo,NAkufoAddo,2011-02-04 10:14:22,1508012,352,7097,112720,572841
6,Dr John Magufuli,MagufuliJP,2015-07-16 04:46:06,868485,8,225,67839,450776
7,Macky Sall,Macky_Sall,2010-10-01 17:05:26,1375456,171,2796,12695,87951
8,President Paul BIYA,PR_Paul_BIYA,2011-05-18 19:09:10,675483,187,5389,9060,41109
9,Ali Bongo Ondimba,PresidentABO,2015-02-08 18:11:21,173549,4,1738,7638,32767
10,Pierre Nkurunziza,pnkurunziza,2012-01-29 20:55:14,173347,15,470,21397,44864
11,Roch KABORE,rochkaborepf,2015-07-01 15:42:09,256260,151,4496,1913,12024
12,Beji Caid Essebsi,BejiCEOfficial,2014-09-09 07:44:06,29432,15,2411,490,89
13,Alpha Condé,Prof_AlphaConde,2012-09-25 15:41:07,62841,1,5158,651,6024
14,Faure E. Gnassingbe,FEGnassingbe,2014-10-02 07:57:05,114693,82,1585,4377,16361
15,Issoufou Mahamadou,IssoufouMhm,2016-01-17 16:40:36,116264,17,349,8334,48982

In [14]:
influes = ts.get_all_users_tweets(influ_data_list)
influes

,id,screen_name,created_at,tweet_id,original_text,retweet_count,hashtags,user_mentions,likes
0,305125998,gettleman,2020-07-19 07:13:47,1284748251640369152,RT @timesofindia: Ladakh: Indian paratroopers ...,445,[],"[{'screen_name': 'timesofindia', 'name': 'The ...",0
1,305125998,gettleman,2020-07-17 03:51:22,1283972537861328896,What an inspiring interchange. Way to go Luke!...,1,[],[],5
2,305125998,gettleman,2020-07-16 04:39:53,1283622358591221760,"It's a fantastic school. Congrats, farmer's so...",1,[],[],28
3,305125998,gettleman,2020-07-16 04:37:41,1283621805916254208,"RT @ndtv: 99 Doctors Died Due To COVID-19, Say...",112,[],"[{'screen_name': 'ndtv', 'name': 'NDTV', 'id':...",0
4,305125998,gettleman,2020-07-15 16:18:31,1283435788152090624,RT @shaikubaid: Specter of Caste in Silicon Va...,3,[],"[{'screen_name': 'shaikubaid', 'name': 'Shaik ...",0
...,...,...,...,...,...,...,...,...,...
8643,46335511,Trevornoah,2020-04-29 17:01:42,1255542790668328960,@noelperez53 Your mother sounds like an incred...,4,[],"[{'screen_name': 'noelperez53', 'name': 'Noel🪐...",31
8644,46335511,Trevornoah,2020-04-29 16:49:39,1255539758551498753,@Ben_Schwartz24 Thanks for nominating @AsiahBe...,5,[],"[{'screen_name': 'Ben_Schwartz24', 'name': 'Be...",34
8645,46335511,Trevornoah,2020-04-29 02:59:11,1255330764201361409,@ValeriaBrownEdu Let's get this @PBrownEdu you...,17,[],"[{'screen_name': 'ValeriaBrownEdu', 'name': 'V...",469
8646,46335511,Trevornoah,2020-04-29 02:47:42,1255327875252846593,@HeyyRB I've got a surface laptop with your na...,7,[],"[{'screen_name': 'HeyyRB', 'name': 'RB', 'id':...",204
8647,46335511,Trevornoah,2020-04-29 02:19:20,1255320736467685382,Wow. Incredible story @FelizardoVarela Keep go...,19,[],"[{'screen_name': 'FelizardoVarela', 'name': 'F...",420

In [23]:
# influes.to_csv('inlues-data.csv')
# top.to_csv('gov-influ.csv')

# influes.to_csv('influes_tweet_data.csv')
# top.to_csv('gov_tweet_data.csv')

In [15]:
dt = influes.groupby('screen_name')
def get_retweet_count(lst):
    
    new_names = []
    retweet_total = []
    likes_count = []
    for name in lst:
        try:
            retweet_total.append(sum(dt.get_group(name)['retweet_count']))
            new_names.append(name)
            likes_count.append(sum(dt.get_group(name)['likes']))
        except Exception:
            pass
        
    return retweet_total, new_names, likes_count

influ_retweets_sum, influ_new_list, influ_likes_sum = get_retweet_count(influ_data_list)

influencers_meta_data = ts.get_users_data(influ_new_list)
influencers_meta_data['retweets_count'] = influ_retweets_sum
influencers_meta_data['total_likes'] = influ_likes_sum
influencers_meta_data

,name,screen_name,created_at,followers_count,friends_count,statuses_count,retweets_count,total_likes
0,Jeffrey Gettleman,gettleman,2011-05-25 17:49:42,25703,37,3771,146473,1047
1,A24 Media,a24media,2009-03-25 11:29:33,31286,3059,16869,221,140
2,Scapegoat,AndiMakinana,2009-09-06 10:53:07,101255,2838,142230,10655,1724
3,Africa Check,AfricaCheck,2012-07-03 11:34:29,68061,4592,27324,453,401
4,James Copnall,JamesCopnall,2011-10-30 17:32:39,21962,5050,19439,125908,146
...,...,...,...,...,...,...,...,...
86,Julius Sello Malema,Julius_S_Malema,2010-02-24 14:58:49,3129102,652,37215,67316,81060
87,News24,News24,2008-05-08 07:45:58,3577478,631,322873,1434,5220
88,jdwtweet,SAPresident,2019-03-04 09:59:11,18,14,19,851,0
89,Gareth Cliff,GarethCliff,2008-12-08 13:20:23,1974534,356,31626,2855,5400
90,Trevor Noah,Trevornoah,2009-06-11 07:03:48,10807725,325,11186,2927518,776397

In [22]:
inf = pd.read_csv('influencers_meta_data.csv')
gov = pd.read_csv('gov-meta-data.csv')
inf_names = inf['name'].tolist()
inf_tweet_ids = inf['']
gov_names = gov['name'].tolist()
gov

,Unnamed: 0,name,screen_name,created_at,followers_count,friends_count,statuses_count,retweets_count,total_likes
0,0,Paul Kagame,PaulKagame,2009-05-04 05:16:24,1984011,181,2862,71336,318477
1,1,Abdelfattah Elsisi,AlsisiOfficial,2014-03-30 15:50:56,4107367,0,2750,175547,1856386
2,2,Muhammadu Buhari,MBuhari,2014-12-22 08:56:35,3271853,26,4734,23014,91139
3,3,Yoweri K Museveni,KagutaMuseveni,2010-03-27 15:08:09,1813259,28,6644,24144,162682
4,4,jdwtweet,SAPresident,2019-03-04 09:59:11,18,14,19,851,0
5,5,Nana Akufo-Addo,NAkufoAddo,2011-02-04 10:14:22,1508012,352,7097,112720,572841
6,6,Dr John Magufuli,MagufuliJP,2015-07-16 04:46:06,868485,8,225,67839,450776
7,7,Macky Sall,Macky_Sall,2010-10-01 17:05:26,1375456,171,2796,12695,87951
8,8,President Paul BIYA,PR_Paul_BIYA,2011-05-18 19:09:10,675483,187,5389,9060,41109
9,9,Ali Bongo Ondimba,PresidentABO,2015-02-08 18:11:21,173549,4,1738,7638,32767
10,10,Pierre Nkurunziza,pnkurunziza,2012-01-29 20:55:14,173347,15,470,21397,44864
11,11,Roch KABORE,rochkaborepf,2015-07-01 15:42:09,256260,151,4496,1913,12024
12,12,Beji Caid Essebsi,BejiCEOfficial,2014-09-09 07:44:06,29432,15,2411,490,89
13,13,Alpha Condé,Prof_AlphaConde,2012-09-25 15:41:07,62841,1,5158,651,6024
14,14,Faure E. Gnassingbe,FEGnassingbe,2014-10-02 07:57:05,114693,82,1585,4377,16361
15,15,Issoufou Mahamadou,IssoufouMhm,2016-01-17 16:40:36,116264,17,349,8334,48982